<h1>BEHIND THE MOSAIC ARTIST</h1>
<p>Growing up in Hong Kong, besides the mandatory art/craft class once a week in school, art was never a part of my life and my parents did not encourage me or my siblings to develop a sense of creativity or artistry.</p>
<p>My first experience with mosaic began with an ad on Craigslist in 2005.  I signed up for a mosaic workshop, simply because I did not fully understand what mosaic was and the class was affordable.</p>
<p>For the first time in my life, I broke a plate without feeling guilty.  It was more than exciting, it was exhilarating!  But, what came next was even better; the meditative stage of setting the tesseraes, putting the broken pieces of china and tile back together, and then giving them a new life. The satisfaction that followed was life changing.  I found it to be comforting and healing.  It was as if a reincarnation was taking place before my own eyes.</p>
<p>It was in that moment I realized; my mosaic journey had just begun.</p>
