<h1>Mosaic Designs by Wenia Lee</h1>
<h2>This site is an online marketplace to view and purchase handmade goods created by Wenia Lee, a local artist near the City and County of San Francisco, California.</h2>
